@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    text-decoration-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    background: var(--very-dark-blue);
}

div.container, div.icon-star, div#ratings {
    display: flex;
}

div.icon-star, div#ratings {
    justify-content: center;
}

div.papa-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.container {
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--dark-blue);
    border-radius: 15px;
    margin: 100px 20px;
    padding: 30px 20px;
    max-height: 100%;
    max-width: 100%;
    width: 280px;
}

div#rating-component {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

div#results, div#thank-you-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    row-gap: 1rem;
}

div.feedback {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

div.feedback > h1 {
    margin-bottom: 10px;
}

h1, #submit-button {
    color: var(--white);
}

div.icon-star {
    align-items: center;
    border-radius: 50%;
    height: 2.7rem;
    width: 2.7rem;
    line-height: 2.7rem;
    background-color: hsla(213, 19%, 24%, 1);
    font-size: 1rem;
}

p {
    color: var(--light-grey)
}

div#ratings {
    column-gap: 12px;

}

/* button style */

.btn {
    background-color: hsla(213, 19%, 24%, 1); 
    color: var(--light-grey);
    align-items: center;
    border-radius: 50%;
    height: 2.7rem;
    width: 2.7rem;
    line-height: 2.7rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn:hover {
    color: var(--white);
    background-color: var(--medium-grey);
}

.btn.active {
    color: var(--white);
    background-color: var(--orange);
}


input#submit-button {
    background-color: var(--orange);
    border-radius: 50px;
    padding: 18px 15px;
    width: 100%;
    border: none;
    color: var(--white);
    font-family: 'Overpass', sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
}

input#submit-button:hover {
    background-color: var(--white);
    color: var(--orange);
    font-weight: bolder;
}

div#results {
    width: auto;
    height: auto;
    padding: 15px 12px;
}

div#results > div#thanks-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1rem;
    color: var(--white);
}

#selection {
    background-color: var(--very-dark-blue);
    padding: 10px 20px;
    border-radius: 40px;
    opacity: 0.7;
}

#rating-value {
    color: var(--orange);
}
/*


#thank-you-svg {
    
    width: 100%;
    height: 100%;

}